# Compiled Object Files
*.slo
*.lo
*.o

# Compiled Dynamic Libraries
*.so

# Compiled Static Libraries
*.lai
*.la
*.a

# Compiled Application
*.exe

# Build Directories
bin/
obj/
Release/
Debug/

# Temporary Files
.*.swp
*~
